
@import "bootstrap-sprockets";
@import "bootstrap";

$orange_color: #e67e22;
$dark_grey: #3a3333;

/**********  Layout  ********************/

a {
  color: black;
}

a:hover {
  color: black;
}

.navbar {
  border-radius: 0;
}

/**********  Resuseable  ********************/
.center {
  text-align: center;
}

.div-center {
  margin: 0 auto;
}

.btn-primary {
  background-color: #000000;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: $dark_grey;
}

/**********  Articles  ********************/

.article-action {
  border-top: 1px solid $orange_color;
  padding-top: 20px;
  margin-top: 30px;
}

.description {
  margin-top: 0;
  border-bottom: 1px solid $orange_color;
  padding-bottom: 20px;
}

/**********  Footer  ********************/

footer {
  border-top: 1px solid #eaeaea;
  margin-top: 45px;
  padding-top: 10px;
  color: $orange_color;
}

.footer {
  ul {
    display: inline;
    li {
      list-style-type: none;
    }
  }
}

/**********  Home Page  ********************/

.jumbotron {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), asset-url('blog_post_bg.jpg');
  background-size: cover;
  height: 450px;

  h1 {
    color: #fff;
    letter-spacing: 1px;
  }

}























